<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    thead{
        background-color: red;
        color: white;
        box-shadow:0 0 15px green;
        
    }
</style>

</head>
<body>
<table class="table">
  <thead class="thead-dark">
  
  <tr>
      <th scope="col">NAME</th>
      <th scope="col">AGE</th>
      <th scope="col">PLACE</th>
      <th scope="col">MARKS</th>
  </tr>
  </thead>
    <tbody>
    <tr>
      <td>{{ s1.name }}</td>
      <td>{{ s1.age }}</td>
      <td>{{ s1.place }}</td>
      <td>{{ s1.marks }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>